.btn{
    border-radius: 0;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 600;
    &-gold{
        background-color: $gold;
        color: $white;
        border-color: $gold;

        &:hover{
            background-color: $gold-hover; 
            border-color: $gold-hover;
        }
    }
}