.gallery{
    grid-template-rows: 300px 300px;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    // grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;

    img{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        border: 0;
    }
}