.btn{
    border-radius: 0;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 600;
    outline: 0 !important;
    &-gold{
        background-color: $gold;
        color: $white;
        border-color: $gold;
        box-shadow: none;
        &:hover{
            background-color: $gold-hover; 
            border-color: $gold-hover;
            outline: 0 !important;
            box-shadow: none;
        }
        &:focus{
            background-color: $gold;
            color: $white;
            border-color: $gold;
            outline: 0 !important;
            box-shadow: none;
        }
    }
    &-gold-outline{
        background: transparent;
        color: $white;
        border-color: $gold;
        box-shadow: none;
        &:hover{
            background: transparent;
            border-color: $gold-hover;
            outline: 0 !important;
            box-shadow: none;
            color: $gold;
        }
        &:focus{
            background: transparent;
            color: $white;
            border-color: $gold;
            outline: 0 !important;
            box-shadow: none;
        }
    }
}