.input-gold{
    background: #000;
    border: 1px solid #e5bc42;
    border-radius:0;
    color: #fff;
}

.input-gold:focus{
    background: #000;
    border: 1px solid #e5bc42;
    border-radius:0;
    color: #fff;
}