@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .3s linear;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;  
  background-color: #000;
  color:#e5bc42;
}

.main{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  font-weight:bold;
}

h3{
  font-size: 1.8rem;
  margin-top: 2.5rem;
}

.timer {
  margin-top: 3.5rem;
  display: flex;
  gap: 2.5rem;
}

.timer-el{
  font-size: 1.5rem;
  border: 1px solid #e5bc42;
  padding: 1.75rem;
  border-radius: 10px;
  background-color: #e5bc42;
  color: #fff;
  width: 6rem;
}

.time{
  font-size:3.5rem;
  font-weight:bold;
}

.contact {
  margin-top: 4.5rem;;
  display: flex;
  gap: 7rem;
  font-size:1.5rem;
}

.mr-icon {
  margin-right: 1rem;
}

.link {
  color: #fff;
  text-decoration: none;
}

@media (max-width:991px) {
  html {
      font-size: 50%;
  }
}

@media (max-width:450px) {
  html {
      font-size: 50%;
  }
}